.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
  }
  body {
	background: linear-gradient(-45deg, #e4ccd7, #d75d8a, #8e8eeeb9, #ffb6d1);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
  }
  
  
  h1 {
	font-size: 2rem;
	margin-bottom: 4rem;
	text-align: center;
  }
  
  .board {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(244, 201, 225);
	padding: 1rem;
	border: 2px solid black;
  }
  
  .row {
	display: flex;
  }
  
  .cell {
	width: 100px;
	height: 100px;
	margin: 0.5rem;
	background-color: rgb(8, 8, 8);
	border: 2px solid black;
	font-size: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
  }
  .cell--x:before {
	content: "X";
	color: #a56f81; /* dark pink */
  }
  
  .cell--o:before {
	content: "O";
	color: #ffb6c1; /* light pink */
  }
  
  
  .cell:hover {
	background-color: lightgrey;
  }
  
  .message {
	font-size: 2rem;
	margin-top: 1rem;
	text-align: center;
  }
  
  .restart-btn {
	margin-top: 1rem;
	font-size: 1.5rem;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 5px;
	background-color: rgb(197, 196, 228);
	color: rgb(0, 0, 0);
	cursor: pointer;
  }
  
  .restart-btn:hover {
	background-color: rgba(179, 254, 253, 0.256);
  }
  